#arquitetura{
    height: 265vh;
    width: 100vw;
    background-image: url(https://www.itl.cat/pngfile/big/195-1958500_mobile-wallpaper-tron-wallpaper-iphone.jpg);
    background-position: center;
    background-size: cover;
}
#arquitetura #introducao{
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    align-self: center;
}
#arquitetura #digital{
    height: 175vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    align-self: center;
}

#arquitetura .cont{background-color: rgb(0, 0, 0, 0.95);}
#arquitetura #digital .cont{height: 35vh;}
#arquitetura #digital img{}