#home #introducao{
    height: 90vh;
    background-color: azure;
}

#home #sinopse{
    height: 90vh;
    background-color:beige;
}

#home #personagens-principais{
    height: 90vh;
    background-color: azure;
}
