@import url(./navbar.css);
@import url(./home.css);
@import url(./personagens.css);
@import url(./arquitetura.css);
:root {
  --azul-escuro: #125E8A;
  --gradiente1: rgb(0, 0, 0, 0.25);
  --gradiente2: rgb(0,0,0,0);
}
* {
  margin: 0;
  padding: 0;
}
main {
  margin: 0; 
  background-color: #c0c0c0;
}
#reverse{flex-direction: row-reverse;}
.cont{
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  background-image: linear-gradient(--gradiente1,--gradiente2);
  background-color: rgb(0, 0, 0, 0.9);
  width: 95vw;
  height: 60vh;
  padding: 0 20px;
}
h1{font-size: 40px; color: #00ffff;}
h2{font-size: 25px; color: #00ffff;}
h3{color: #00ffff;}
p {
  font-weight: 400;
  font-size: small;
  line-height: 32px;
  color: #c0c0c0;
}
body{
  overflow-x: hidden;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.1rem;
}
footer{
  height: 5vh;
  background-color: #000000;
}
@media (max-width: 906px) {
  div.cont, .cont, #reverse{flex-direction: column;}
  img{align-self: center;}
}
.cont img {height: 40vh;}
/* Largura da barra de rolagem */
::-webkit-scrollbar {
  width: 0px;
}
span{background-color: rgb(0, 0, 0, 0.5);}